<!DOCTYPE html> {% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ instance.costumer }} | {{ instance.get_series_display }} | {{ instance.number }}</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
         <style>
            body{
              -webkit-print-color-adjust:exact !important;
              print-color-adjust:exact !important;
            }

            .bottom {
                position: absolute;
                bottom: 10px;
            }
            table {
                border: 2px ;
            }
        </style>
    </head>
    <body>
        <div class="container" style="height: 29.7cm;">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body p-0">
                            <div class="row pb-5 p-5">

                            <div class="col-6"></div>
                                <div class="col-12">
                                     <table class="table table-bordered center">
                                    <thead>
                                        <tr>
                                            <th colspan='2' style="background-color: #d5dce3">ΠΡΟΣΦΟΡΑ</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><h5>{{ instance.title }}</h5></td>
                                            <td><h5>ΣΥΝΟΛΙΚΗ ΑΞΙΑ: {{instance.total_value}} € </h5> </td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <br />
                                <hr />
                                <br />
                                

                            </div>

                            <div class="row my_p">

                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                       <thead>
                           <tr>
                               <th style="background-color: #d5dce3" COLSPAN="2">ΕΙΔΟΣ</th>
                               <th style="background-color: #d5dce3">Μ.Μ.</th>
                               <th style="background-color: #d5dce3">ΠΟΣΟΤΗΤΑ</th>
                               <th style="background-color: #d5dce3">ΤΙΜΗ ΜΟΝΑΔΑΣ</th>

                               <th style="background-color: #d5dce3" >ΣΥΝΟΛΟ</th>
                           </tr>
                       </thead>
                   <tbody>
                       {% for product in qs %}
                           <tr>
                               <td  COLSPAN="2">{{ product.title }} </td>
                               <td>{{ product.get_unit_display }} </td>
                               <td >{{ product.qty }} </td>
                               <td  >{{ product.final_value_margin }} €</td>

                               <td>{{ product.total_value }} €</td>
                           </tr>
                       {% endfor %}
                            <tr>
                                <td COLSPAN="4"></td>
                               <td style="background-color: #d5dce3;font-weight:bold;display: flex; justify-content: flex-end">ΣΥΝΟΛΙΚΗ ΚΑΘΑΡΗ ΑΞΙΑ </td>
                               <td>{{ instance.value }} €</td>
                            </tr>
                            <tr>
                                <td COLSPAN="4"></td>
                               <td style="background-color: #d5dce3;font-weight:bold;display: flex; justify-content: flex-end">ΣΥΝΟΛΟ ΜΕ ΦΠΑ </td>
                               <td>{{ instance.clean_value }} €</td>
                            </tr>

                            <tr>
                                <td COLSPAN="4"></td>

                               <td style="background-color: #d5dce3;font-weight:bold;display: flex; justify-content: flex-end">ΑΜΟΙΒΗ ΕΓΚΑΤΑΣΤΑΤΗ </td>
                               <td>{{ instance.install_cost }} €</td>
                            </tr>

                            <tr>
                                <td COLSPAN="4"></td>
                               <td style="background-color: #d5dce3;font-weight:bold;display: flex; justify-content: flex-end">ΦΑΚΕΛΟΣ ΔΕΔΔΗΕ</td>
                               <td>{{ instance.folder }} €</td>
                            </tr>

                            <tr>
                                <td COLSPAN="4"></td>
                               <td style="background-color: #d5dce3;font-weight:bold;display: flex; justify-content: flex-end ">ΣΥΝΟΛΟ </td>
                               <td  class="lead">{{ instance.total_value }} €</td>
                            </tr>


                   </tbody>
               </table>
               </div>

            </div>


        </div>
  </body>
</html>