
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Προϊον</th>
        <th class="table-warning">Υπόλοιπο</th>
        <th>Τιμή</th>
        <th>Μεση Τιμή</th>
        <th>Τιμή Πώλησης</th>
        <th>-</th>
    </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ product.get_edit_url }}" target="_blank" >{{ product }}</a></td>
                <td class="table-warning">{{ product.qty }}</td>
                <td>{{ product.price_buy }}</td>
                <td>{{ product.average_price }}</td>
                <td>{{ product.value }}</td>
                <td><a name='q' href="{% url 'costumers:add_product_to_invoice'  object.id product.id %}" class="btn btn-primary"><i class="fa fa-plus"></i> </a> </td>
            </tr>

        {% endfor %}
    </tbody>
</table>