{% extends "dashboard.html" %} {% load render_table from django_tables2 %}



{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-8" >
                <div id="category_products">
                    {% include "products/ajax_price_list_products.html" %}
                </div>
                 <div class="card">
                    <div class="card-header">
                        <a href="{% url 'price_list_view' %}" class="btn btn-warning">ΕΠΙΣΤΡΟΦΗ</a>


                    </div>
                    <div class="card-body" id="product_container">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">ΔΗΜΙΟΥΡΓΙΑ ΠΡΟΪΟΝΤΟΣ</h5>

                            </div>
                            <div class="modal-body">
                                <form class="form" id="add_product_form" method="post" data-href="{% url 'create_product_from_price_time_view' object.id %}">
                                    {% csrf_token %}
                                    {{ create_form }}
                                    <button id="add_button" data-href="{% url 'ajax_add_product_to_price_list' object.id %}"  class="btn btn-success add_button"> Save </button>
                                </form>
                            </div>
                            <div class="modal-footer">


                            </div>
                      {% comment %}  {% include "products/ajax_products_search.html" %}  {% endcomment %}
                    </div>
                </div>

            </div>
            <div class="col-4">
               <div class="card">
                    <div class="card-header">
                        <a href="{% url 'price_list_delete' object.id %}" class="btn btn-danger pull-right"> ΔΙΑΓΡΑΦΗ </a>
                        <h4>{{ object }}</h4>

                        <a href="{% url 'price_list_print' object.id %}" class="btn btn-success" target="_blank"><i class="fa fa-print"></i></a>

                    </div>
                    <div class="card-body">
                        <h6>ΕΠΕΞΕΡΓΑΣΙΑ</h6>
                        <form method="post" class="form">
                            {% csrf_token %}
                            {{ form }}
                            <button  type="submit" class="btn btn-info"><i class="fa fa-save"> </i> ΑΠΟΘΗΚΕΥΣΗ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}


{% block extra_js %}
    <script>

         $(".add_button").click(function(evt){
            evt.preventDefault();
            const data = $('#add_product_form').serialize()
            const btn = $(this);
            const url = btn.attr("data-href")
            console.log('data', data)
            $.ajax({
                url: url,
                dataType: "json",
                data: data,
                success: function(data){
                    $("#category_products").html(data.result)
                }
            })

        })

        $(".search_button").keyup(function(evt){
            evt.preventDefault();
            const form_data = $(this);
            const value = form_data.val();
            const url = form_data.attr("data-href");

            $.ajax({
                url: url+ `?search_name=${value}`,
                dataType: "json",

                success: function(data){
                    $("#product_container").html(data.result);
                }
            })
        })


        $(".add_class").click(function(evt){
            evt.preventDefault();
            const btn = $(this);
            const href = btn.attr('data-href');
            $.ajax({
                url: href,
                dataType: "json",
                success: function(data){
                    $("#category_products").html(data.result)
                }
            })

        });


        $(".delete_class").click(function(evt){
            evt.preventDefault();
            const btn = $(this);
            const url = btn.attr("data-href")
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data){
                    $("#category_products").html(data.result)
                }
            })

        })

        $(".edit_class").click(function(evt){
            evt.preventDefault()
            const btn = $(this);
            const url = btn.attr("data-href");
            $("#modal_area").empty();
            $.ajax({
                url: url,
                dataType: "json",
                success: function(data){
                    $("#modal_area").html(data.form_data)
                    $('#editModal').modal('show');
                    
                }
            })
        })
    </script>



{% endblock %}